@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  font-family: 'Poppins', sans-serif; /* Modern typography */
}

a {
  color: #1db954; /* Vibrant green for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
